/* ng overrides */
md-content {
    background: transparent!important;
}
md-tabs md-ink-bar {
    color: rgb(230, 96, 37)!important;
    background: rgb(230, 96, 37)!important;
}
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    color: rgb(39, 39, 39)!important;
}
md-checkbox.md-checked .md-icon {
    background-color: rgb(230, 96, 37)!important;
}
md-radio-button.md-checked .md-off {
    border-color: rgb(230, 96, 37)!important;
}
md-radio-button .md-on {
    background-color: rgb(230, 96, 37)!important;
}

md-select-menu md-content {
    background: rgba(255, 255, 255, 0.85)!important;
}

/* bootstrap overrides */

body {
    font-family: 'Roboto', Arial, sans-serif!important;
    /* background-image: url("https://impulsealarm.com/wp-content/uploads/2016/02/gg-bridge-1920x1080.jpg")!important; */
    background-color: #e3e3e2!important;
    -webkit-background-size:cover!important;
    background-size:cover!important;
    background-repeat:no-repeat!important;
}
.nav {
    list-style: none;
    padding: 20px!important;
    float: left;
}

.nav>li {
    float: left;
    font-size: 14px;
    margin: 0 10px;
}


/* custom styles */


.mainToolbar {
    background-color: #e66025!important;
}

.widgetDashboard header {
    padding: 10px 0 5px 10px;
    border-bottom: 2px solid #E66025;
    min-height: 37px;
}

.widgetDashboard article {
    overflow: hidden;
    min-height: 100px;
    width: 100%;
}

.widgetDashboard article .avatar {
    height: 100%;
    width: 25%;
    float: left;
}


.widgetDashboard article .name {
    width: 75%;
    float: right;
    height: 100%;
}

.widgetDashboard article .name h1 {
    font-weight: 100;
    margin-left: 15px;
}

.widgetDashboard footer {
    height: 60px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
}

.widgetDashboard footer .phone {
    color: #899299;
}

.widgetDashboard footer md-icon {
    color: #BEC0C1;
}

article.buttonizedWidget {
    padding: 15px;
    min-height: 120px;
}

article.buttonizedWidget p {
    font-weight: 300;
    font-size: 13px;
}

.buttonizedWidget .md-button {
    width: 100%!important;
    margin: 0!important;
    padding: 0!important;
    background: #e66025!important;
    color: white!important;
}

.buttonDashboard {
    width: 46.5%;
    float: left;
    height: 70px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #E66025;
}

.message {
    padding: 20px;
    margin-bottom: 20px
}

.message.error {
    background: #F57E7D;
    color: rgba(0, 0, 0, 0.5);
}

.message.ok {
    background: #82CF85;
    color: rgba(0, 0, 0, 0.5);
}
md-tabs-wrapper {
    background: white!important;
}
.tabWrap {
    margin: 8px!important;
    /* background: white!important; */
}

.tabContent td {
    background: white;
}

table {
    width: 100%!important;
}
.tableToolbar {
    background: white!important;
    color: #111!important;
    padding: 15px!important;
    min-height: 42px!important;
}

.fabBg {
    background: #e66025!important;
    color: white!important;
}

th, td {
    padding: 10px!important;
}
thead tr {
    background: #e66025!important;
    color: white;
}
tr:hover {
    background: rgba(0, 0, 0, 0.14)!important;
}

.tabContent {
    margin-top: 35px;
}

ol li {
    margin-bottom: 15px;
}

.sideLinksTos {
    list-style: none;
    padding: 25px;
}

.sideLinksTos li {
    padding: 10px 0;
}

.doneDeal {
    color: #3C8654;
    margin-right: 5px;
}

.fabWrap {
    position: relative;
    overflow: hidden;
    height: 90px;
    width: 100%;
}

/* global options */

* {
    -webkit-transition: all 100ms ease-out 100ms;
    -moz-transition: all 100ms ease-out 100ms;
    -o-transition: all 100ms ease-out 100ms;
    transition: all 100ms ease-out 100ms;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.loadingStuff {
  width: 100%;
  position: relative;
}

.buttonizedWidget button a{
  color: #fff;
}

.buttonizedWidget button a:hover {
  text-decoration: none !important;
}

@media only screen and (min-width:990px) and (max-width: 1400px) {
    .material-icons {
        font-size: 12px;
    }
    md-icon {
        height: 12px !important;
        width: 12px !important;
    }
    a {
        font-size: 12px;
    }
    .buttonDashboard {
        width: 95%;
    }
    h1 {
        font-size: 1.5em !important;
    }
}
