<div ng-if="allowed">
    
    <div ng-if="loadingStuff" layout="row" style="width: 100%;position: relative;">
        <div layout="row" layout-sm="column" layout-align="space-around" style="postion: absolute; top: 0; left: 0;">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
    <div ng-if="stuffBeingLoaded" class="col-md-12">
    <div class="col-md-2"  style="padding: 0px!important">
        <md-card class="widgetDashboard" ng-controller="myAccountManagerController">
            <header>Your Account Manager</header>
            <article>
                <div layout="row" class="name" style="width: 100%!important;text-align: center;">
                    <h1>{{mgrfn}} {{mgrln}}</h1>
                </div>
            </article>
            <footer>
                <div layout="column" class="phone"><md-icon>phone</md-icon> <a href="tel:{{mgrph}}">{{mgrph}}</a></div>
                <div layout="column"><md-icon>email</md-icon> <a href="mailto:{{mgrem}}">{{mgrem}}</a></div>
            </footer>
        </md-card>
        <md-card class="widgetDashboard" ng-controller="sendEmailDashboardController">
            <header>Emails</header>
            <article class="buttonizedWidget">
                <p>Select one of our awesome email templates to send to your referral.</p>
                <md-button class="md-raised widgetButton" ng-click="emailDialog($event)">Send email</md-button>
            </article>
        </md-card>
        <md-card class="widgetDashboard" ng-controller="downloadFlyersDashboardController">
            <header>Flyers</header>
            <article class="buttonizedWidget">
                <p>Get yourself one of our amazing flyers, choose the design you like the most.</p>
                <md-button  class="md-raised widgetButton" ng-click="flyerDialog($event)">Download flyers</md-button>
            </article>
        </md-card>
    </div>
    <div class="col-md-7"  style="padding: 0px!important">
        <div class="tableView">
            <div ng-cloak  class="tabWrap">
                <md-content>
                    <md-tabs class="materialTabs" md-dynamic-height md-border-bottom>
                        <md-tab label="Active Referrals">
                            <md-content class="tabContent">
                                <table>
                                    <thead>
                                    <tr>
                                        <th colspan="1">Name</th>
                                        <th colspan="1">Entry</th>
                                        <th colspan="1">Status</th>
                                        <th colspan="1">Source</th>
                                        <th colspan="1">Install Date</th>
                                        <th colspan="1">Package</th>
                                        <th colspan="1">Gift Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="lead in leads">
                                        <td> {{lead.firstname}} {{lead.lastname}} </td>
                                        <td> {{lead.createdtime}} </td>
                                        <td> {{lead.cf_785}} </td>
                                        <td> {{lead.leadsource}} </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-content>
                        </md-tab>
                        <md-tab label="Customers">
                            <md-content class="tabContent">
                                <table>
                                    <thead>
                                    <tr>
                                        <th colspan="1">Name</th>
                                        <th colspan="1">Entry</th>
                                        <th colspan="1">Source</th>
                                        <th colspan="1">Install Date</th>
                                        <th colspan="1">Package</th>
                                        <th colspan="1">Gift Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="contact in conts">
                                        <td> {{contact.firstname}} {{contact.lastname}} </td>
                                        <td> {{contact.createdtime}} </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-content>
                        </md-tab>
                        <md-tab label="Past Referrals">
                            <md-content class="tabContent">
                               ...
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <div class="fabWrap">
                    <div ng-controller="fabAddNew">
                        <md-fab-speed-dial md-open="fabImpulse.isOpen" md-direction="down"
                                           ng-class="md-fling" class="fabPosition">
                            <md-fab-trigger>
                                <md-button ng-click="addNewData($event)" aria-label="menu" class="md-fab fabBg">
                                    <md-icon>playlist_add</md-icon>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>

                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="padding: 0px!important">
        <div style="overflow: auto; display: block;">
            <md-card ng-click="showAddPaymentDialog($event)" class="buttonDashboard" ng-controller="myPaymentInfoController">
                Add Payment Info
            </md-card>
            <md-card ng-click="showSignContractDialog($event)" class="buttonDashboard" ng-controller="myContractInfoController">
                Sign contract
            </md-card>
        </div>
        <md-card class="widgetDashboard" ng-controller="myAccountManagerController">
            <header>Customer<span flex></span> <md-icon ng-click="editYourInfo()" style="right: 15px;top: 15px;position: absolute;">mode_edit</md-icon></header>
            <article>
                <div class="avatar">
                    <img ng-src="{{avatr}}" />
                </div>
                <div layout="row" class="name">
                    <h1>{{fName}} {{lName}}</h1>
                </div>
            </article>
            <footer>
                <div layout="column" class="phone"><md-icon>phone</md-icon> {{phone}}</div>
                <div layout="column"><md-icon>email</md-icon> <a href="{{email}}">{{email}}</a></div>
            </footer>
        </md-card>
        <md-card class="widgetDashboard" ng-controller="myReferralGiftsController">
            <header>Referral Gift</header>
            <article style="height: 170px!important;">
                <div class="avatar" style="width: 30%!important;padding: 20px;">
                    <img src="style/media/giftico.png" />
                </div>
                <div class="buttonizedWidget" style="width: 70%!important; height: 100%!important; float: left!important; padding: 15px!important;"> 
                    <md-button style="margin: 5px 0!important;" class="widgetButton md-raised" flex="100" flex-gt-md="auto"><a target="_blank" ng-href="{{link1}}">Gift all</a></md-button>
                    <md-button style="margin: 5px 0!important;" class="widgetButton md-raised" flex="100" flex-gt-md="auto"><a target="_blank" ng-href="{{link2}}">Split 50/50</a></md-button>
                    <md-button style="margin: 5px 0!important;" class="widgetButton md-raised" flex="100" flex-gt-md="auto"><a target="_blank" ng-href="{{link3}}">Keep All</a></md-button>
                </div>
            </article>
        </md-card>
        <md-card class="widgetDashboard" ng-controller="myDealController">
            <header>Deal</header>
            <article style="height: 280px!important;">
                <div class="avatar" style="width: 40%!important;padding: 20px;">
                    <img src="style/media/pulsesec.png" />
                </div>
                <div style="width: 70%!important; height: 100%!important; float: left!important; padding: 15px!important;">
                </div>
            </article>
        </md-card>
    </div>

    </div>
</div>

<script>
    setTimeout(function() {
        function woopraReady(tracker){
            tracker.setDomain('impulsealarm.com');
            tracker.setIdleTimeout(300000);
            woopra.config({"domain":"impulsealarm.com","download_tracking":false,"outgoing_tracking":false,"hide_campaign":false});
            woopra.identify({"name":"{{name}}","email":"{{email}}"});
            tracker.trackPageview({
                url: window.location.pathname + window.location.search + "#/realtor/dashboard",
                title: document.title,
                name:"{{name}}",
                email:"{{email}}"
            });
            return false;
        }
        (function(){
            var wsc=document.createElement('script');
            wsc.type='text/javascript';
            wsc.src=document.location.protocol+'//static.woopra.com/js/woopra.js';
            wsc.async=true;
            var ssc = document.getElementsByTagName('script')[0];
            ssc.parentNode.insertBefore(wsc, ssc);
        })();
    }, 1500)
</script>
