<div ng-controller="mainController">
    <div ng-if="loggedin" class="col-md-6 col-md-offset-3" style="text-align: center;">
        <h1 style="font-weight: 100;">Welcome to your bridge portal, {{status.name}}.</h1>
        <h3 style="font-weight: 100;">Redirecting you to your bridge overview...</h3>
    </div>
    <div ng-if="guest" class="col-md-6 col-md-offset-3" style="text-align: center;min-height: 450px;margin-top: 50px;padding-top: 25px;background: rgba(255, 255, 255, 0.72);">
        <h1 style="font-weight: 100;margin-bottom: 80px;">Welcome to our bridge portal, please log in.</h1>
        <md-content class="loginBox" ng-controller="loginController">
            <div ng-if="showMessage" class="col-md-8 col-md-offset-2">
                <div class="message {{msgClass}}">
                    {{message}}
                </div>
            </div>
            <form id="login" name="form">
                <div layout="row" class="col-md-8 col-md-offset-2">
                    <md-input-container class="col-md-12" style="padding: 0;">
                        <label>Username</label>
                        <input type="text" ng-model="user" name="username" autocomplete="off" required />
                        <div ng-messages="form.username.$error">
                            <div ng-message="required">Username is required to log in..</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" class="col-md-8 col-md-offset-2">
                    <md-input-container class="col-md-12" style="padding: 0;">
                        <label>Password</label>
                        <input type="password" ng-model="pass" name="password" required />
                        <div ng-if="form.password.$error">
                            <div ng-message="required">Password is required to log in.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" class="col-md-8 col-md-offset-2">
                    <md-button ng-click="logMeIn()" ng-disabled="form.$invalid" class="md-raised md-primary">LOGIN</md-button>
                </div>
                <div ng-if="processLogin" layout="row" class="col-md-8 col-md-offset-2">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
    <div ng-if="permLoggedin" class="col-md-6 col-md-offset-3" style="text-align: center;">
        <h1 style="font-weight: 100;">Hi, {{status.name}}.</h1>
        <h3 style="font-weight: 100;">Currently we're working on the main page, you can go to your customer page clicking <a href="#/customer">here</a>.</h3>
    </div>
</div>
