<div ng-if="notsigned">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-3">
            <ul class="sideLinksTos">
                <li>Contact Us</li>
                <li>Log Out</li>
            </ul>
        </div>
        <div class="col-md-9" style="background: white;">
            <h2>Terms of Service</h2>
            <hr />
            <h3>I. Legal Compliance</h3>
            Seller certifies that no certification or licensure is required by the Home Alarm and Security System Industry.
            <h3>II. Term and Termination</h3>
            The term of this Agreement shall commence on the above effective date and shall continue in full force and effect until terminated by either party. Either party may terminate this Agreement at any time and without liability by providing the non-terminating party ten (10) days written notice.
            <h3>III. Exclusivity</h3>
            The referring Partner shall have the non-exclusive right to introduce prospective customers to seller who are not already known to seller.
            <h3>IV. Bonus and payments</h3>
            <ol>
                <li>The referral Bonus shall usually be from a minimum amount of $250.00 up to a maximum of $500.00.</li>
                <li>The Seller has the exclusive right and sole discretion to determine the amount of any Bonus to be paid herein and to reduce same in increments of $50.00.</li>
                <li>Bonuses will be paid through bank transfer or eCheck.</li>
                <li>A Bonus shall only be due when a Partner registers or refers a prospective customer&#39;s contact information to Impulse Alarm&#39;s Sales Team; or provides Seller&#39;s contact details or the sales program email to a prospective customer and as a result, said customer purchases a Home Alarm System from Seller. Existing customers are not eligible.</li>
                <li>Only successful registrations of prospective customers shall be considered as a &quot;Qualifying Transaction&quot;.</li>
                <li>A qualifying transaction shall be deemed as a &quot;closed sale&quot; with incentive. All final sale approvals are at Impulse Alarm&#39;s sole discretion.</li>
                <li>Each qualifying transaction is valid for ninety (90) days.</li>
                <li>Bonuses are payable after the final sale and installation of the home security system.</li>
                <li>Seller may unilaterally divide and apportion any Bonus between a Partner and customer provided that the customer&#39;s share will be applied towards their home security system.</li>
                <li>Partners may donate a portion of their referral bonus, in increments of $50, towards the price of the home security system or the monthly monitoring rate of the customer.</li>
                <li>Partners may only donate the total amount of their referral bonus to a customer upon providing written authorization to Seller.</li>
                <li>Bonuses shall not be paid or distributed unless and until the relevant account has been purchased by ADT.</li>
                <li>&nbsp;Referral bonuses are distributed within 30 days of a final sale.</li>
                <li>Bonuses shall not be due or paid under the following circumstances:<br />
                    Sale is not closed within 90 days A Partner is referring him/herself<br />
                    The prospective customer is already a customer or was referred by another.<br />
                    Only the first Partner to refer the customer will receive a Bonus.</li>
                <li>Partners herein are deemed an independent contractor and not an employee, partner, franchisee or joint venture or consultant. Impulse Alarm declares and covenants that we are only engaged in an independent business, and has complied and will comply with all federal, state and local laws relating to business permits and licenses of any kind that may be required to carry out the business and tasks to be performed by the company under this Agreement. Impulse Alarm is not required by Partner to incur any costs or expenses pursuant to this Agreement. No payment or withholding of any federal, state, local, city or other payroll or employment taxes, including but not limited to FICA, state and federal income taxes, FUTA, state disability insurance taxes, and state unemployment insurance taxes relating to income received by the company from Partner will be made by Impulse Alarm, The Partner agrees to indemnify and hold Impulse Alarm harmless should a claim related to expenses, insurance or the lack thereof and/or local, state or federal taxes be made by anyone, including any governmental authority. 16. Partners are granted rights to use any of Impulse Alarm&#39;s trademarks or logos in conjunction with the sales and promotions of the company&#39;s services, within the boundaries outlined in Impulse Alarm&#39;s Marketing Guidelines Documentation. Under no circumstances is Impulse Alarm&#39;s trademark to be used as part of any referrer&#39;s corporate or business name.</li>
            </ol>
            <form>
                <md-checkbox ng-model="toscb" ng-value="checked" ng-click="acceptTos()">I accept these Terms of Service</md-checkbox>
            </form>
        </div>
    </div>
</div>
<div ng-if="sgined">
    <div class="col-md-10 col-md-offset-1">
        <h2>You have already signed Terms of Service.</h2>
    </div>
</div>