<md-dialog aria-label="Add New Referral"  ng-cloak>
    <form name="newRef" ng-controller="addNewReferral">
        <md-toolbar class="mainToolbar">
            <div class="md-toolbar-tools">
                <h2>Add new entry</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container layout="row" style="width:100%;">
                    <label>First Name</label>
                    <input type="text" ng-model="fname" name="fnamei" required />
                    <div ng-messages="newRef.fnamei.$error">
                        <div ng-message="required">First Name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="row" style="width:100%;">
                    <label>Last Name</label>
                    <input type="text" ng-model="lname" name="lnamei" required />
                    <div ng-messages="newRef.lnamei.$error">
                        <div ng-message="required">Last Name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="row" style="width:100%;">
                    <label>Phone</label>
                    <input type="text" ng-model="phone" name="phonei" required />
                    <div ng-messages="newRef.phonei.$error">
                        <div ng-message="required">Telephone Number is required.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="row" style="width:100%;">
                    <label>Email</label>
                    <input type="email" ng-model="email" name="emaili" required />
                    <div ng-messages="newRef.emaili.$error">
                        <div ng-message="required">Email address is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span><md-button ng-disabled="newRef.$invalid" ng-click="addNewRef()">Add</md-button>
        </md-dialog-actions>
        <div ng-if="addingNewRef" layout="row" style="width: 100%;position: relative;">
            <div layout="row" layout-sm="column" layout-align="space-around" style="postion: absolute; top: 0; left: 0;">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
        </div>
    </form>
</md-dialog>