<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <md-toolbar class="mainToolbar">
        <div class="md-toolbar-tools">
            <h2>Sign your contract</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <iframe frameborder="0" height="500" scrolling="no" src="https://rightsignature.com/forms/Bridge2-Referral--3079fa/embedded/d501c99330b?height=500&after_sign_location=https%3A%2F%2Fimpulsealarm.com%2Fxapi%2Frequests%2F%3Fcont%3Dsigned" width="706"></iframe>
        </div>
    </md-dialog-content>
</md-dialog>