<md-dialog aria-label="Edit Your Info" ng-cloak>
    <md-toolbar class="mainToolbar">
        <div class="md-toolbar-tools">
            <h3 ng-if="editingLoaded">{{fName}}, you can edit your basic info here</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" style="min-width: 700px;">
            <div ng-if="editingLoading" layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <form ng-if="editingLoaded">
                <md-input-container layout="row" style="width:100%;">
                    <label>First Name</label>
                    <input type="text" placeholder="{{fName}}"  />
                </md-input-container>
                <md-input-container layout="row" style="width:100%;">
                    <label>Last Name</label>
                    <input type="text" placeholder="{{lName}}"  />
                </md-input-container>
                <md-input-container layout="row" style="width:100%;">
                    <label>Phone Number</label>
                    <input type="text" placeholder="{{phone}}"  />
                </md-input-container>
                <md-input-container layout="row" style="width:100%;">
                    <label>Email Address</label>
                    <input type="text" placeholder="{{email}}"  />
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="hide()">
            Cancel
        </md-button>
        <span flex></span>
        <md-button ng-click="hide()" style="margin-right: 20px;">
            Apply
        </md-button>
    </md-dialog-actions>
</md-dialog>