<md-dialog aria-label=""  ng-cloak>
    <md-toolbar class="mainToolbar">
        <div class="md-toolbar-tools">
            <h2>Send email</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-select placeholder="Select referral to email" ng-model="lead" md-on-open="loadReferrals()" style="min-width: 700px;">
                <md-option ng-value="lead" ng-repeat="lead in leads">{{lead.firstname}} {{lead.lastname}}</md-option>
            </md-select>
            <div class="col-md-12" ng-if="lead">
                <div class="col-md-10 col-md-offset-1">
                    <md-content>
                        <header>Hi, {{lead.firstname}}</header>
                        <p>Here should go the content of the email, and the entire email template.</p>
                        <p>Here is email: <strong>{{lead.email}}</strong> autopopulated, or last name <strong>{{lead.lastname}}</strong></p>
                    </md-content>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="hide()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>