<md-dialog aria-label=""  ng-cloak>
    <md-toolbar class="mainToolbar">
        <div class="md-toolbar-tools">
            <h2>Download flyers</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" style="min-width: 700px;">
            Flyers are coming soon.
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="hide()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>