<md-dialog aria-label="Paymant Info"  ng-cloak>
    <form>
        <md-toolbar class="mainToolbar">
            <div class="md-toolbar-tools">
                <h2>Your payment info</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" ng-scrollbars ng-scrollbars-config="config">
                <h3>Customer Information</h3>
                <hr />
                <md-input-container layout="row" style="width:48%;">
                    <label>First Name</label>
                    <input type="text" />
                </md-input-container>
                <md-input-container layout="row" style="width:50%;">
                    <label>Last Name</label>
                    <input type="text" />
                </md-input-container>
                <md-input-container layout="row" style="width:58%;">
                    <label>Phone</label>
                    <input type="text" />
                </md-input-container>
                <md-input-container layout="row" style="width:40%;">
                    <label>Email</label>
                    <input type="text" />
                </md-input-container>
                <h3>Biling Information</h3>
                <hr />
                <h4>Billing Address</h4>
                <md-input-container layout="row" style="width:60%;">
                    <label>Street address</label>
                    <input type="text" />
                </md-input-container>
                <md-input-container layout="row" style="width:38%;">
                    <label>Address Line 2</label>
                    <input type="text" />
                </md-input-container>
                <md-input-container layout="row" style="width:20%;">
                    <label>ZIP Code</label>
                    <input type="text" />
                </md-input-container>
                <md-input-container layout="row" style="width:40%;">
                    <label>City</label>
                    <input type="text" />
                </md-input-container>
                <md-input-container layout="row" style="width:38%;">
                    <md-select ng-model="state" placeholder="State">
                        <md-option>California</md-option>
                    </md-select>
                </md-input-container>
                <h4>Please Choose Billing Method</h4>
                <md-radio-group ng-model="type">
                    <md-radio-button value="bank">
                        Bank Account ACH
                    </md-radio-button>
                    <md-radio-button value="card">
                        Credit/Debit Card
                    </md-radio-button>
                </md-radio-group>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" style="border-top: 1px solid #E8E8E8;">
            <span flex></span><md-button>Add</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>