<md-dialog aria-label="Referral"  ng-cloak>
    <form>
        <md-toolbar class="mainToolbar">
            <div class="md-toolbar-tools">
                <h2>Referral Gift</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>You are about to send this gift.</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button>
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>