<md-dialog aria-label=""  ng-cloak>
    <md-toolbar class="mainToolbar">
        <div class="md-toolbar-tools">
            <h2>You are almost there</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>Step 2 of 5</h3>
            <hr />
            <p style="color: #378350;opacity: 0.6;"><md-icon class="doneDeal">done</md-icon>Created your account </p>
            <h4>Agree to our Terms of Service </h4>
            <p style="color: #BBBBBB;">Sign your Bonus Fee contract</p>
            <p style="color: #BBBBBB;">Add your payment info</p>
            <p style="color: #BBBBBB;">Ready to add your referrals</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="hide()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>